/* CLASSES */

.home_container{
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 60px;
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.home_container h1{
    font-size: 40px;
    padding: 10px;
}

.home_container h2{
    font-size: 40px;
    padding: 10px;
}

.home_container .icon_me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.home_image_bg{
    background-image: url("https://images.pexels.com/photos/2666249/pexels-photo-2666249.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.5;
    filter:alpha(opacity=40);
}

.icon_me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* For screen smaller than 600px */
@media screen and (max-width: 600px) {
    .home_container{
        padding: 0;
        padding-top: 30%;
    }
    .home_container h1{
        font-size: 20px;
    }
    .home_container h2{
        font-size: 20px;
        padding-bottom: 10%;
    }
    .home_container .icon_me{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}